h1 {
  font-family: "Comic Sans MS", cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Gadget, "Lucida Console", sans-serif, monospace, serif;
  float: center;
}
nav {
  width = device-width;
  font-family: "Comic Sans MS", cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Gadget, "Lucida Console", sans-serif, monospace, serif;
}
  
